body {
	background-color: #f0f0f0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 200px;
}

nav ul {
	list-style: none;
	margin: 20;
	padding: 20;
}

nav li {
	display: inline-block;
	margin-right: 120px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 120px;
}

section {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery img {
	width: 30%;
	margin: 10px;
	border-radius: 10px;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
	clear: both;
}